[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"
doit = "*"
flake8 = "*"
pydocstyle = "*"
sphinx = "*"
pytest = "*"

[requires]
python_version = "3.13"